@model Learning4.Models.Leaves.LeaveTypeMaster
@{
    ViewData["Title"] = "Add Status Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .dataTables_wrapper .dataTables_filter {
        float: left !important; /* Search on left */
        text-align: left !important;
    }

    .dataTables_wrapper .dataTables_paginate {
        float: right !important; /* Pagination on right */
    }

    .dataTables_wrapper .dt-length {
        text-align: end;
    }

    .dt-paging .dt-paging-button {
        padding: 10px;
        margin: 2px;
    }
</style>

<div class="container">
    <h2>Add Leave</h2>
    <form asp-action="AddLeaveType" method="post">
        <div class="row">

            <div class="col-sm-4">
                <div class="form-group">
                    <label asp-for="LeaveType"></label>
                    <input asp-for="LeaveType" type="text" class="form-control" />
                    <span asp-validation-for="LeaveType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary mt-3">Add Leave Type</button>
            </div>
        </div>
    </form>
    <hr />

    <h3>Leave List</h3>
    <table id="districtTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>LeaveType ID</th>
                <th>LeaveType Name</th>
            </tr>
        </thead>
    </table>
    @section Scripts {
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
        <script>
            $(document).ready(function () {
                $('#districtTable').DataTable({
                    "ajax": {
                        "url": "/mLeaves/GetAllLeaveTypes",
                        "type": "GET",
                        "dataSrc": ""
                    },
                    "columns": [
                        { "data": "leaveTypeId" },
                        { "data": "leaveType" }
                    ], dom:
                        "<'row'<'col-sm-6'f><'col-sm-6'l>>" +   // Search (f) left, Length (l) right
                        "<'row'<'col-sm-12'tr>>" +             // Table
                        "<'row'<'col-sm-5'i><'col-sm-7'p>>",   // Info (i) left, Pagination (p) right
                    language: {
                        search: "_INPUT_",
                        searchPlaceholder: "Search leave type..."
                    }
                });
            });
        </script>
    }
</div>